
.footersection{
    background-color: rgb(7, 2, 56);
    display: flex;
    height: 3rem;
    border-radius: 0.21rem;
    width: 96%;
    margin: auto;
    color: antiquewhite;
    margin-top: 0.3rem;
    align-items: center;
    justify-content:space-between;
    padding: 2rem 2rem;
}
.largefooter{
    background-color: rgb(28, 37, 161);
    height:100%;
    width: 97%;
    margin: auto;
    border-radius: 0.31rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footerheading{
    color: rgb(236, 235, 235);
    text-transform: capitalize;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family:'Times New Roman', Times, serif

}
.footernav{
    list-style: none;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500; color: rgb(245, 220, 240);


}
.subsection{
    height:19rem;
    width: 25rem;
}